[submodule "hugo-theme-nix"]
	path = hugo-theme-nix
	url = git@github.com:LordMathis/hugo-theme-nix
[submodule "themes/hugo-theme-nix"]
	path = themes/hugo-theme-nix
	url = git@github.com:LordMathis/hugo-theme-nix
[submodule "themes/hugo-theme-nix2"]
	path = themes/hugo-theme-nix2
	url = git@github.com:SchulzDL/hugo-theme-nix.git
